* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Open Sans', sans-serif;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
h2 {
  margin-bottom: 0;
}
p {
  margin-top: 0.5em;
}
ul {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: #494950;
}
a:hover {
  color: #73e298;
}
img {
  max-width: 100%;
}
.wrapper {
  width: 95%;
  max-width: 1440px;
  margin: 0 auto;
}
.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
@media (min-width: 768px) {
  .main-header {
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .main-header .logo {
    margin: 0 auto 0 5%;
  }
}
.main-header .menu {
  display: none;
}
@media (min-width: 768px) {
  .main-header .menu {
    display: flex;
    width: auto;
    margin-right: 5%;
  }
  .main-header .menu ul {
    display: flex;
  }
  .main-header .menu li {
    margin-left: 10px;
  }
}
.main-header .menu--is-active {
  display: block;
  width: 100%;
  z-index: 2;
  background: #fff;
}
@media (min-width: 768px) {
  .main-header .menu--is-active {
    display: block;
    width: auto;
    margin: 0 5% 0 auto;
  }
}
.main-header .menu--is-active ul {
  margin-top: 0;
}
.main-header .menu--is-active .menu__item {
  margin: 5px;
}
@media (min-width: 768px) {
  .main-header .menu--is-active .menu__item {
    display: inline-block;
    margin: 0 10px;
  }
}
.main-header .dropdown {
  font-size: 2.5em;
}
@media (min-width: 768px) {
  .main-header .dropdown {
    display: none;
  }
}
.banner {
  padding: 25px 0;
  max-height: 669px;
  text-align: center;
  background: url("../images/banner_background.jpg") no-repeat top center;
}
@media (min-width: 768px) {
  .banner {
    height: 520px;
  }
  .banner .wrapper {
    height: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner .movie-info__sinopse {
    max-width: 480px;
  }
}
.banner .movie-poster {
  max-height: 300px;
}
@media (min-width: 768px) {
  .banner .movie-poster {
    margin-right: 25px;
  }
}
.banner .movie-info {
  color: #fff;
}
.banner .movie-info .movie-info__title {
  margin: 0.55em;
}
@media (min-width: 768px) {
  .banner .movie-info .movie-info__title {
    display: inline-block;
    margin-bottom: 0;
    font-size: 2.2em;
  }
}
.banner .movie-info .movie-info__rating {
  color: #73e298;
}
@media (min-width: 768px) {
  .banner .movie-info .movie-info__rating {
    display: inline-block;
  }
}
.banner .movie-info .fa:last-child {
  color: #494950;
}
.banner .movie-info .movie-info__details {
  font-weight: 700;
}
.popular-movies,
.popular-tv-shows {
  padding: 35px 0 0 0;
}
@media (min-width: 768px) {
  .popular-movies .wrapper,
  .popular-tv-shows .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
}
.movies-list,
.tv-shows-list {
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .movies-list,
  .tv-shows-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.movies-list .post,
.tv-shows-list .post {
  width: 100%;
  margin-top: 1.5em;
}
@media (min-width: 768px) {
  .movies-list .post,
  .tv-shows-list .post {
    margin-top: 0;
  }
}
.movies-list .post .post__image,
.tv-shows-list .post .post__image {
  max-height: 300px;
  border-radius: 5px;
}
.movies-list .post .post__title,
.tv-shows-list .post .post__title {
  margin: 0;
}
.movies-list .post .post__info,
.tv-shows-list .post .post__info {
  margin: 0;
}
.newsletter {
  padding: 75px;
  color: #fff;
  background: #252529;
}
.newsletter h2 {
  margin-bottom: 2em;
  text-align: center;
}
@media (min-width: 768px) {
  .newsletter h2 {
    max-width: 480px;
    margin: 0 auto 1em auto;
  }
}
.newsletter .news {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .newsletter .news {
    display: block;
    text-align: center;
  }
}
.newsletter .news .news__name,
.newsletter .news .news__email {
  max-width: 350px;
  height: 45px;
  margin-bottom: 1em;
  padding: 7px;
  border: none;
  border-radius: 4px;
  background: #494950;
}
@media (min-width: 768px) {
  .newsletter .news .news__name,
  .newsletter .news .news__email {
    margin: 1em 10px;
  }
}
.newsletter .news .news__btn {
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 25px;
  background: #73e298;
}
@media (min-width: 768px) {
  .newsletter .news .news__btn {
    display: block;
    margin: 0 auto;
  }
}
.footer {
  padding: 25px 0;
  text-align: center;
}
