// Variables
main-color = #252529
secondary-color = #8b8b9f
highlight-color =	#73e298

// Mixins
vertical-align()
  position absolute
  top 50%
  -webkit-transform translateY(-50%)
  transform translateY(-50%)

// General Styles
*
  box-sizing border-box

html, body 
  font-family 'Open Sans', sans-serif

.clearfix:before, .clearfix:after
  content ""
  display table

.clearfix:after
  clear both

h1, h2, h3, h4, h5, h6
  font-weight 300;

h2
  margin-bottom 0

p
  margin-top .5em
  
ul
  list-style none
  padding-left 0

a
  text-decoration none
  color secondary-color
  
  &:hover
    color highlight-color

img
  max-width 100%

.wrapper
  width 95%
  max-width 1440px
  margin 0 auto
  
// Header Styles
.main-header
  display flex
  flex-wrap wrap
  justify-content space-around
  align-items center
  width 100%
  
  @media(min-width:768px)
    justify-content: space-between
    align-items baseline
  
  .logo
    @media(min-width:768px)
      margin 0 auto 0 5%
      
  .menu
    display none
    width 100%
    z-index 2
    
    @media(min-width: 768px)
      display block
      width auto
      margin 0 5% 0 auto
    
    background white
    
    ul
      margin-top 0
    
    .menu__item
      margin 5px
      
      @media(min-width: 768px)
        display inline-block
        margin 0 10px
  
  .dropdown
    font-size 2.5em
    
    @media(min-width: 768px)
      display none
  
// Banner Styles
.banner
  padding 25px 0
  max-height 669px
  text-align center
  
  @media(min-width: 768px)
    height 520px
    
    .wrapper
      height 470px
      display flex
      justify-content center
      align-items center
      
    .movie-info__sinopse
      max-width 480px
  
  background url('../images/banner_background.jpg') no-repeat top center
  
  .movie-poster
    max-height 300px
    
    @media(min-width:768px)
      margin-right: 25px
  
  .movie-info
    color white
    
    .movie-info__title
      margin 0.55em
      
      @media(min-width: 768px)
        display inline-block
        margin-bottom 0
        font-size 2.2em
    
    .movie-info__rating
      color highlight-color
      
      @media(min-width: 768px)
        display inline-block
    
    .fa:last-child
      color secondary-color
    
    .movie-info__details
      font-weight 700
      
// Post Shows and Movie Styles
.popular-movies
.popular-tv-shows
  padding 35px 0 0 0
  
  @media(min-width:768px)  
    .wrapper
      display flex
      flex-wrap wrap
      justify-content space-between
      align-items baseline
    
.movies-list
.tv-shows-list
  width 100%
  text-align center
  
  @media(min-width: 768px)
    display flex
    flex-direction row
    justify-content space-around
  
  .post
    width 100%
    margin-top 1.5em
    
    @media(min-width: 768px)
      margin-top 0
    
    .post__image
      max-height 300px
      border-radius 5px
    
    .post__title
      margin 0
    
    .post__info
      margin 0
      
    
  
  
  
  
  
  
  
  
  
    